<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Allowlist Manager</title>
</head>

<body>
    <form action="/mrf_deny/" method="post">
    <p>Instances on <b>{{host}}</b>'s Denylist</p>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    </form>
        <div>
        {% if instance_list %}
        <ul>
            {% for instance in instance_list %}
            <li>{{instance}}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No Instances are available.</p>
        {% endif %}
    </div>
</body>

</html>
